*,
*::before,
*::after {
    box-sizing: border-box;
}

.header-navbar {
    background-color: #2D2558;
    /* height: 80px; */
    box-shadow: 10px 5px 5px black;
}

.nav-item {
    padding-left: 30px;
}
.right-link {
    padding-left: 50px;
}
.tuto-link {
    padding-left: 90px;
}
.navbar-brand{
    position: relative;
  }
.navbar-brand img{
      position: absolute;
      top: 5px;
      
      left: -37px;
}

 .plan, .tizimin, .ext {
    padding-left: 0;
} 

.servicios {
    padding-right: 50px;
}
.hexagono {
width: 100px; 
  height: 50px; 
  background: #2D2558; 
  position: relative;
  left: 50px;
}

.hexagono:after {
    content: ""; 
    position: absolute; 
    bottom: -50px; 
    left: -20px; 
    width: 0; 
    height: 0; 
    border-left: 80px solid transparent; 
    border-right: 80px solid transparent; 
    border-top: 50px solid #2D2558;  
  }
